@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background-color: #070707;
  overflow: hidden;
}
.scrollbar-hide::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just to make sure */
}

.scrollbar-thumb-custom {
  scrollbar-color: gray transparent; /* Firefox */
  scrollbar-width: thin; /* Firefox */
}

.scrollbar-thumb-custom::-webkit-scrollbar {
  width: 5px;
}

.scrollbar-thumb-custom::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10rem;
}

.scrollbar-thumb-custom::-webkit-scrollbar-track {
  background: transparent; 
}
/* Add these styles to your CSS file or a <style> block in your component */
.form-width input {
  width: 100%; /* Ensure it always fills its container */
  padding: 0.5rem; /* Add some padding */
  
}

/* For screens larger than or equal to 768px */
@media (min-width: 768px) {
  .form-width input {
    font-size: 18px; /* Adjust font size as needed */
    padding: 10px; /* Adjust padding as needed */
  }
}

/* For screens smaller than 768px */
@media (max-width: 767px) {
  .form-width input {
    font-size: 14px; /* Adjust font size as needed */
    padding: 8px; /* Adjust padding as needed */
  }
}
/* Add this to your global CSS file */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
